@import url(https://fonts.google.com/specimen/Roboto+Mono);

html {
    /* font-size: 5; */
    /* box-sizing: border-box; */
    font-size: 62.5%;
    margin: auto;
}

body {
    margin-left:  5px;
    padding: 0;
    line-height: 1.6;
    /* sive para el interlineado */
}

header {
    min-height: 40px;
    padding-top: 15px;
    overflow: hidden;
    border-bottom: 3px solid;
    font-size: 4.5px;
}

*,
*::before,
*::after {
    scroll-behavior: smooth;
    font-family: 'Roboto+Mono', sans-serif;
    box-sizing: inherit;
    margin: 0;
    /* quitar todo el margen de la pagina */
}

/* FONDO DE PANTALLA */

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.cabecera ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.cabecera li {
    list-style: none;
    padding-right: 20px;
}

.cabecera li a {
    text-decoration: none;
    font-family: 'Roboto+Mono', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    background-color:rgb(23, 85, 202);
    border-radius: 60px;
    color: white;
    padding: 5px 12px 5px 12px;

}

.fotoperfil {
    width: 400px;
    display: flex;
   
}

.fondo {
    background-image: url(../Imagen/IMG_7163.JPG);
    background-size: cover;
    border-image: fill;

}

.grid {
    font-family:'Roboto+Mono', sans-serif ;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60% 40%;
    grid-template-areas:
    "quiensoy imagen"
    "imagen2 estudios";
}

.quiensoy {
    grid-area: quiensoy;
    }

.estudios {
    grid-area: estudios;
}
.descripcion h1{
    text-align: center;
    width: 25%;
    background-color: white;
    color: rgb(54, 54, 175);
    border: 4px;
    border-style: double;
    border-color: blue;
    margin: 0 auto 0 auto;

}
.imagen {
    grid-area: imagen;
    background: url(./clean.jpg);
    margin: 0 0 0 0;
    width: 350px;
    height: 300px;
    background-size: cover;
    display: flex;
}

.imagen2 {
    grid-area: imagen2;
    background: url(./clean.jpg);
    margin: 0 0 0 0;
    width: 350px;
    height: 300px;
    background-size: cover;
    display: flex;
}

.datos1 {
    text-align: center;
    width: 25%;
    background-color: white;
    color: rgb(54, 54, 175);
    border: 4px;
    border-style: double;
    border-color: blue;
    margin: 0 auto 0 auto;

}
.descripcion p{

    color: white;
}

.informacion li{
    list-style: none;
}

/* MENUDEL NAVEDOR */

/* .listamenu {
    
    padding: 0;
    background: url(./viejo.jpg) no-repeat center center;
    background-size: cover;
    margin: 0;
    align-items: center;
    justify-content: center;
    border: 0;
} */
/* 
.listamenu li {
    padding: 0 40px;
    list-style: none;
    transition: 2s;
}

.listamenu li a {
    text-decoration: none;
    font-size: 2.0rem;
    color: white;
    font-weight: 400;
    position: center center;
    flex-wrap: wrap;


}

.listamenu li:hover {
    background-color: lightblue;
} */

/* .quiensoy {
    width: 60%;
    position: center;
    text-align: center; */
    /*    text-decoration: double;
    margin-bottom: 40px; */


.pie {
    background-image: url(./viejo.jpg);
}

/* 
.nota { text-align: ;}  para alinear el texto*/

/* .cabecera {

    /* colocar texto al lado de la imagen */
/*    width: 100px;
   height: 50px;
   padding: 0;
   background-size: cover;

} */


/* .nota { 
    justify-content: space-around; SON DIFERENTES FORMAS DE COMO COLOCAR LAS IMAGENES O PALABRAS EN UNA LINEA DE TEXTO */

/* align-items como va alineado o como se colocar a nivel de tamaño y texto dentro de la caja */